on:
  push:
    tags:
    - 'v*' # Called on push with version tags (ie v1.2.3)
name: Go Release

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Get release information
        id: release
        run: |
          echo ::set-output name=TAG::${GITHUB_REF/refs\/tags\//}
          
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go 1.24
        uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
