on:
  push:
    tags:
    - 'v*' # Called on push with version tags (ie v1.2.3)
name: Go Release

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Get release information
        id: release
        run: |
          echo ::set-output name=TAG::${GITHUB_REF/refs\/tags\//}
          
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go 1.24
        uses: actions/setup-go@v5
        with:
          go-version: 1.24
        id: go

      - name: Craft Linux Artifacts
        run: |
          go install -ldflags "-X main.Version=${{ steps.release.outputs.TAG }}" ./cmd/uv3dp
          rm -rf uv3dp-${{ steps.release.outputs.TAG }}
          mkdir uv3dp-${{ steps.release.outputs.TAG }}
          cp README.md $(go env GOPATH)/bin/uv3dp uv3dp-${{ steps.release.outputs.TAG }}
          tar -jcvf uv3dp-${{ steps.release.outputs.TAG }}-linux-amd64.tar.bz2 uv3dp-${{ steps.release.outputs.TAG }}

      - name: Craft MacOS Artifacts
        run: |
          GOOS=darwin GOARCH=amd64 go install -ldflags "-X main.Version=${{ steps.release.outputs.TAG }}" ./cmd/uv3dp
          rm -rf uv3dp-${{ steps.release.outputs.TAG }}
          mkdir uv3dp-${{ steps.release.outputs.TAG }}
          cp README.md $(go env GOPATH)/bin/darwin_amd64/uv3dp uv3dp-${{ steps.release.outputs.TAG }}
          tar -jcvf uv3dp-${{ steps.release.outputs.TAG }}-macos-amd64.tar.bz2 uv3dp-${{ steps.release.outputs.TAG }}

      - name: Craft Windows Artifacts
        run: |
          GOOS=windows GOARCH=amd64 go install -ldflags "-X main.Version=${{ steps.release.outputs.TAG }}" ./cmd/uv3dp
          zip -j uv3dp-${{ steps.release.outputs.TAG }}.zip README.md $(go env GOPATH)/bin/windows_amd64/uv3dp.exe

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.release.outputs.TAG }}
          release_name: Release ${{ steps.release.outputs.TAG }}
          draft: false
          prerelease: false
      - name: Upload Linux Release Asset
        id: upload-release-asset-linux
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./uv3dp-${{ steps.release.outputs.TAG }}-linux-amd64.tar.bz2
          asset_name: uv3dp-${{ steps.release.outputs.TAG }}-linux-amd64.tar.bz2
          asset_content_type: application/x-bzip-compressed-tar
      - name: Upload MacOS Release Asset
        id: upload-release-asset-macos
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./uv3dp-${{ steps.release.outputs.TAG }}-macos-amd64.tar.bz2
          asset_name: uv3dp-${{ steps.release.outputs.TAG }}-macos-amd64.tar.bz2
          asset_content_type: application/x-bzip-compressed-tar
      - name: Upload Windows Release Asset
        id: upload-release-asset-windows
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./uv3dp-${{ steps.release.outputs.TAG }}.zip
          asset_name: uv3dp-${{ steps.release.outputs.TAG }}.zip
          asset_content_type: application/zip
