name: Go Test
on: [push]
jobs:

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go 1.24
      uses: actions/setup-go@v4
      with:
        go-version: 1.24
      id: go

    - name: Run Tests
      run: |
          ./check.sh test
